/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 13rem 0 !important;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #e8eff5 url(../../static/img/noise.png);
}
.heroTitle {
  color: #e50;
  text-shadow: 0 2px white;
}
.heroSubtitle{
  color: write;
  text-shadow: 0 2px #e50;
  font-weight: 900;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
